<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

  <body class = "linearBackground">

	<div class="HEIGHT container d-flex justify-content-center align-items-center"  layout:fragment="corpo">


		    <div class="fundoBranco  card degrade p-2 text-dark">
		        <div class="p-3 d-flex align-items-center justify-content-center mb-5">
					<div class="roundLogo">
					</div>
		        </div>
				<div class="FONT p-3 d-flex align-items-center justify-content-center">
		            <h5> Monitoramento da experiência do paciente.</h5>			
		        </div>		
		        <div class="p-3 d-flex align-items-center justify-content-center"> 
					<a href="/respostas/iniciar" class="NEXT btn btn-success btn-lg w-auto mx-auto d-block shadow">Começar</a>
		        </div>
		        
		    </div>
			
	</div>		
	

  </body >
</html>